<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p class="heading">Assigning Property...</p>
</ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">Property Assignment</div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="assignForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Select Employee</label>
                <select class="form-control" formControlName="assigned_to">
                  <option
                    *ngFor="let employee of employeeList"
                    value="{{ employee.id }}"
                    >{{ employee.first_name }} {{ employee.last_name }}</option
                  >
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Date Of Assignmet</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="date_from"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Due Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="date_to"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" (click)="onSave()">Save</button>
            <button class="btn btn-secondary" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
