<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Updating...</p>
</ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <!-- <div class="col-md-12"></div> -->
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="departmentForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Department Name</label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Department Description</label>
                <textarea
                  class="form-control textarea"
                  formControlName="desc"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" (click)="onUpdate()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
